.primary {
  padding: 1em;
  min-width: 100%;
  margin: 1em 0;
  background: none;
}

.red {
  border-color: red
}


.stationList {
  list-style-type: none;
  padding:0;
  margin:0;
  grid-area: stationList;
}

.stationList>li {
  padding: 1em 0;
}

.lineButtons {
  list-style-type: none;
  display: grid;
  grid-template: 0.2fr 1fr/1fr 1fr 1fr;
  grid-template-areas:
    "titleButtons titleButtons titleButtons"
    "stationList stationList stationList";
}

.lineButton {
  grid-area: titleButtons;
}