.primary {
  padding: 1em;
  min-width: 100%;
  margin: 1em 0;
  background: none;
}

.red {
  border-color: red
}

.linesPanel {
  display: grid;
  grid-template: 0.03fr 1fr/1fr 1fr 1fr;
  grid-template-areas:
    "titleButtons titleButtons titleButtons"
    "stationList stationList stationList";
}

.stationList {
  padding:0;
  margin:0;
  grid-area: stationList;
}

.stationList>li {
  list-style-type: none;
  padding: 1em 0;
}

.titleButtons {
  display: flex;
  grid-area: titleButtons;
}

.titleButtons >li {
  list-style-type: none;
}