.primary {
  padding: 1em;
  min-width: 100%;
  margin: 1em 0;
  background: none;
}

.red {
  border-color: red
}

.listTabStyle {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
}

.stationList {
  list-style-type: none;

}

.stationList>li {
  padding: 1em 0;
}